# {{labelName}} カスタム機能ドキュメント

このドキュメントは、{{labelName}} のカスタム機能が提供する、
Flow、コマンド、設定定義についての説明及び出力するメッセージの定義について説明する。

- Contents
  - [Information](#Information)
  - [Description](#Description)
  - [Flow List](#Flow-List)
  - [Command List](#Command-List)
  - [Configuration List](#Configuration-List)
  - [Message List](#Message-List)

## Information

本カスタム機能の基本情報は以下の通り。

{{#summary}}
{{.}}
{{/summary}}

- Name : `{{name}}`
- Custom Package : `{{customPackage}}`

## Description
{{#description}}
{{.}}
{{/description}}

## Flow List

本カスタム機能が提供するFlowの一覧及び詳細。

## Command List

本カスタム機能が提供するコマンドの一覧及び詳細。

|Name|Summary|Assert|Evidence|
|:---|:---|:---|:---|
{{#commandsEntrySet}}|[{{value.id}}](#{{value.id}})|{{#value.summary}}{{.}}  {{/value.summary}}|{{#value.assertCommand}}X{{/value.assertCommand}}|{{#value.evidenceCommand}}X{{/value.evidenceCommand}}|
{{/commandsEntrySet}}

{{#commandsEntrySet}}
------

### {{value.id}}
{{#value.summary}}{{.}}
{{/value.summary}}

#### Command Type
- Assert : {{#value.assertCommand}}__Yes__{{/value.assertCommand}}{{^value.assertCommand}}No{{/value.assertCommand}}
- Evidence : {{#value.evidenceCommand}}__Yes__{{/value.evidenceCommand}}{{^value.evidenceCommand}}No{{/value.evidenceCommand}}

#### Functions
{{#value.function}}- {{.}}
{{/value.function}}

#### Structure
```yaml
{{{value.structure}}}
```

{{#value.structureDescription}}1. {{.}}
{{/value.structureDescription}}
{{/commandsEntrySet}}

## Configuration List

本カスタム機能が提供する設定定義の一覧及び詳細。

|Name|Summary|
|:---|:---|
{{#configurationsEntrySet}}|[{{value.id}}](#{{value.id}})|{{#value.summaries}}{{.}}  {{/value.summaries}}|
{{/configurationsEntrySet}}

{{#configurationsEntrySet}}
------

### {{value.id}}
{{#value.summaries}}{{.}}
{{/value.summaries}}

#### Description
{{#value.descriptions}}{{#summary}}- {{.}}
{{/summary}}{{/value.descriptions}}

#### Structure
```yaml
{{{value.structure}}}
```

{{#value.structureDescription}}1. {{.}}
{{/value.structureDescription}}
{{/configurationsEntrySet}}

## Message List

本カスタム機能が出力するメッセージの一覧及び内容。

|MessageID|MessageContents|
|:---|:---|
{{#messagesEntrySet}}|{{value.key}}|{{value.value}}|
{{/messagesEntrySet}}
