# {{labelName}} Command

- Contents
  - [Information](#Information)
  - [Description](#Description)
  - [Flow List](#Flow-List)
  - [Command List](#Command-List)
  - [Configuration List](#Configuration-List)
  - [Message List](#Message-List)


## Information
{{#summary}}
{{.}}
{{/summary}}

- Name : `{{name}}`
- Custom Package : `{{customPackage}}`

## Description
{{#description}}
{{.}}
{{/description}}

## Flow List


|Name|Summary|
|:---|:---|
{{#flowsEntrySet}}|[{{value.id}}](#{{value.id}})|{{#value.summary}}{{.}}  {{/value.summary}}|
{{/flowsEntrySet}}

{{#flowsEntrySet}}
------

### {{value.id}}
{{#value.summary}}{{.}}
{{/value.summary}}

#### Functions
{{#value.function}}- {{.}}
{{/value.function}}

#### Structure
```yaml
{{{value.structure}}}
```

{{#value.structureDescription}}1. {{.}}
{{/value.structureDescription}}
{{/flowsEntrySet}}

## Command List

|Name|Summary|Assert|Evidence|
|:---|:---|:---|:---|
{{#commandsEntrySet}}|[{{value.id}}](#{{value.id}})|{{#value.summary}}{{.}}  {{/value.summary}}|{{#value.assertCommand}}X{{/value.assertCommand}}|{{#value.evidenceCommand}}X{{/value.evidenceCommand}}|
{{/commandsEntrySet}}

{{#commandsEntrySet}}
------

### {{value.id}}
{{#value.summary}}{{.}}
{{/value.summary}}

#### Command Type
- Assert : {{#value.assertCommand}}__Yes__{{/value.assertCommand}}{{^value.assertCommand}}No{{/value.assertCommand}}
- Evidence : {{#value.evidenceCommand}}__Yes__{{/value.evidenceCommand}}{{^value.evidenceCommand}}No{{/value.evidenceCommand}}

#### Functions
{{#value.function}}- {{.}}
{{/value.function}}

#### Structure
```yaml
{{{value.structure}}}
```

{{#value.structureDescription}}1. {{.}}
{{/value.structureDescription}}
{{/commandsEntrySet}}

## Configuration List


|Name|Summary|
|:---|:---|
{{#configurationsEntrySet}}|[{{value.id}}](#{{value.id}})|{{#value.summaries}}{{.}}  {{/value.summaries}}|
{{/configurationsEntrySet}}

{{#configurationsEntrySet}}
------

### {{value.id}}
{{#value.summaries}}{{.}}
{{/value.summaries}}

#### Description
{{#value.descriptions}}- {{.}}
{{/value.descriptions}}

#### Structure
```yaml
{{{value.structure}}}
```

{{#value.structureDescription}}1. {{.}}
{{/value.structureDescription}}
{{/configurationsEntrySet}}

## Message List

{{labelName}} Functions output messages.

|MessageID|MessageContents|
|:---|:---|
{{#messagesEntrySet}}|{{value.key}}|{{value.value}}|
{{/messagesEntrySet}}
